@charset "ISO-8859-1";

body {
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: center ;
	background-attachment: fixed;
	background-color: #fbc40e;
	background-size: contain;
}

footer {
	width: 100%;
	background-color: #fbc40e;
	color: white;
	position: fixed;
	text-align: center;
	bottom: 0%;
	z-index: 2;
}

footer img {
	width: 15px;
	height: auto;
}

div.container {
	display: flex;
	justify-content: center;
	margin-bottom: 3%
}

div.form {
	text-align: center;
	width: 20%;
	display : flex;
	justify-content: center;
}

fieldset {
	font-size: x-large;
	transition: all 0.3s ease-in-out;
	border-color: white;
	border-radius: 5%;
	border-style: double;
}

legend {
	color: white;
	font-weight: bold;
}

a {
	font-size: xx-large;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

ul {
	width: 15%;
	position: fixed;
	right: 2%;
	top: 10%;
}

a:hover {
	color: blue;
	position: relative;
	bottom: 2px;
}

fieldset:hover {
	transform: scale(1.1);
	border-color: blue;
}

@media screen and (max-width: 1200px) {
	body {
		max-width: 1000px;
	}
	
	a {
		font-size: x-large;
	}
	
}

@media screen and (max-width: 980px) {
	body {
		max-width: 850px;
	}
	
	a {
		font-size: large;
	}
	
}

@media screen and (max-width: 750px) {
	body {
		max-width: 600px;
	}
	
	a {
		font-size: medium;
	}
	
}

@media screen and (max-width: 540px) {
	body {
		max-width: 450px;
	}
	
	a {
		font-size: small;
	}
	
}

@media screen and (max-width: 360px) {
	body {
		max-width: 450px;
	}
}
