@charset "ISO-8859-1";

@charset "ISO-8859-1";

body {
	max-height: 100%;
	max-width: 100%;
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: top 0% center;
	background-attachment: fixed;
	background-size: contain;
	background-color: #fbc40e;
}

div.container {
	display: flex;
	justify-content: flex-start;
}

div.form {
	text-align: center;
	width: 20%;
	display : flex;
	justify-content: center;
}

fieldset {
	font-size: x-large;
	transition: all 0.3s ease-in-out;
	border-color: white;
	border-radius: 5%;
	border-style: double;
	margin-bottom: 20%;
}

legend {
	color: white;
	font-weight: bold;
}

a {
	font-size: xx-large;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

aside {
	width: 15%;
	position: fixed;
	right: 2%;
	top: 10%;
}

aside:hover a {
	color: blue;
	position: relative;
	bottom: 2px;
}

fieldset:hover {
	position: relative;
	bottom: 10px;
	border-color: blue;
}
