@charset "ISO-8859-1";

body {
	max-height: 100%;
	max-width: 100%;
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: center top 0%;
	background-attachment: fixed;
	background-size: contain;
	background-color: #fbc40e;
}

div {
	width: 20%;
}

ul {
	text-align: right 10%;
	list-style-type: circle;
}

li {
	margin-top: 10%;
}

a {
	font-size: xx-large;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

a:hover {
	color: blue;
	position: relative;
	bottom: 2px;
}