@charset "ISO-8859-1";

body {
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: center ;
	background-attachment: fixed;
	background-color: #fbc40e;
	background-size: contain;
}

footer {
	width: 100%;
	background-color: #fbc40e;
	color: white;
	position: fixed;
	text-align: center;
	bottom: 0%;
	z-index: 2;
}

footer img {
	width: 15px;
	height: auto;
}

fieldset#ordine {
	border: none;
}

fieldset#ordine fieldset#scarpa {
	width: 15%;
	display: inline-block;
	margin: 2% 3% 2% 4%;
	background-color: #fbc40e;
	font-size: large;
	transition: all 0.3s ease-in-out;
	border-color: white;
	border-radius: 5%;
	border-style: double;
}

fieldset#ordine fieldset#scarpa img{
	height: auto;
	width: 100%;
}

fieldset#ordine > legend{
	font-size: xx-large;
	text-align: center;
	color: white;
}

a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease-in-out;
	
}

fieldset#ordine ul {
	text-align: center;
}

ul li {
	display:inline;
	padding-right: 2%;
	font-size: x-large;
}

fieldset#ordine #vuoto {
	color: white;
	text-align: center;
}

fieldset#ordine #vuoto a{
	text-decoration: underline;
}

a:hover, li:hover {
	color: blue;
	position: relative;
	bottom: 2px;
}

fieldset#ordine fieldset#scarpa:hover {
	transform: scale(1.1);
	border-color: blue;
}

@media screen and (max-width: 1200px) {
	body {
		max-width: 1000px;
	}
}

@media screen and (max-width: 980px) {
	body {
		max-width: 850px;
	}
}

@media screen and (max-width: 750px) {
	body {
		max-width: 600px;
	}
}

@media screen and (max-width: 540px) {
	body {
		max-width: 450px;
	}
}

@media screen and (max-width: 360px) {
	body {
		max-width: 450px;
	}
}
