@charset "ISO-8859-1";

body {
	max-height: 100%;
	max-width: 100%;
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: center top 0%;
	background-attachment: fixed;
	background-size: contain;
	background-color: #fbc40e;
}

fieldset#ordine {
	border: none;
}

fieldset#ordine fieldset#scarpa {
	width: 15%;
	display: inline-block;
	margin: 2% 3% 2% 4%;
	background-color: #fbc40e;
	font-size: large;
	transition: all 0.3s ease-in-out;
	border-color: white;
	border-radius: 5%;
	border-style: double;
}

fieldset#ordine fieldset#scarpa img{
	height: auto;
	width: 100%;
}

fieldset#ordine > legend{
	font-size: xx-large;
	text-align: center;
	color: white;
}

a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease-in-out;
	
}

fieldset#ordine ul {
	text-align: center;
}

ul li {
	display:inline;
	padding-right: 2%;
	font-size: x-large;
}

fieldset#ordine #vuoto {
	color: white;
	text-align: center;
}

fieldset#ordine #vuoto a{
	text-decoration: underline;
}

a:hover, li:hover {
	color: blue;
	position: relative;
	bottom: 2px;
}

fieldset#ordine fieldset#scarpa:hover {
	position: relative;
	bottom: 10px;
	position: relative;
	bottom: 10px;
	border-color: blue;
}
