@charset "ISO-8859-1";

body {
	max-height: 100%;
	max-width: 100%;
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: center top 0%;
	background-attachment: fixed;
	background-size: 40%;
	background-color: #fbc40e;
}

h2#carrello {
	width:100%;
	position: relative;
}

div.user {
	width: 100%;
	top: 0%;
	background-color: #fbc40e;
	color: white;
	position: fixed;
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
}

ul.user li{
	display:inline;
	padding-right: 2%;
	font-size: x-large;
}

div.scarpa {
	height: 100%;
	width: 100%;
	margin-top: 10%;
}

div.scarpa fieldset {
	width: 15%;
	display: inline-block;
	margin: 2% 3% 2% 4%;
	background-image: url("../images/pexels-melvin-buezo-2529159.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #fbc40e;
	border: thick;
}

div.scarpa fieldset img{
	height: auto;
	width: 100%;
	
}

ul.scarpa li {
	display: inline;
}

legend {
	font-size: xx-large;
	color: white;
}

div.scarpa fieldset p{
	color: white;
	font-size: large;
}

div#caratteristiche label, input{
	display: block;
}

label {
	color: white;
	font-size: x-large;
	font-weight: bold;
}
