@charset "ISO-8859-1";

body {
	max-height: 100%;
	max-width: 100%;
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: center top 0%;
	background-attachment: fixed;
	background-size: 40%;
	background-color: #fbc40e;
	background-size: contain;
}

h2#carrello {
	width:100%;
	position: relative;
}

header {
	width: 100%;
	background-color: #fbc40e;
	color: white;
	position: fixed;
	text-align: center;
	top: 0%;
	z-index: 2;
}

a {
	color: white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

ul.user li{
	display:inline;
	padding-right: 2%;
	font-size: x-large;
}

div.scarpa {
	height: 100%;
	width: 100%;
	margin-top: 10%;
}

div.scarpa fieldset {
	width: 15%;
	height: auto;
	display: inline-block;
	margin: 5% 3% 2% 4%;
	background-image: url("../images/pexels-jd-danny-2385477.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: #fbc40e;
	transition: all 0.3s ease-in-out;
	border-color: white;
	border-radius: 5%;
	border-style: double;
}

div.scarpa fieldset img{
	height: auto;
	width: 100%;
	
}

ul.scarpa li {
	display: inline;
}

legend {
	font-size: xx-large;
	color: white;
}

div.scarpa fieldset p{
	color: white;
	font-size: large;
}

div#caratteristiche label, input{
	display: block;
}

label {
	color: white;
	font-size: x-large;
	font-weight: bold;
}

a:hover {
	color: blue;
	position: relative;
	bottom: 2px;
}

div.scarpa fieldset:hover {
	position: relative;
	bottom: 10px;
	border-color: blue;
}
