@charset "ISO-8859-1";

body {
	max-height: 100%;
	max-width: 100%;
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: top 0% center;
	background-attachment: fixed;
	background-size: contain;
	background-color: #fbc40e;
}

div#container {
	display: flex;
	justify-content: center;
}

div#form {
	text-align: center;
	width: 20%;
	display : flex;
	justify-content: center;
}

fieldset {
	font-size: x-large;
	transition: all 0.3s ease-in-out;
	border-color: white;
	border-radius: 5%;
	border-style: double;
}

legend {
	color: white;
}

div#form a {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease-in-out;
}

p {
	color: white;
}

input#submit, input#reset {
	background-color: white;
	color: #fbc40e;
	font-size: large;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

div#form a:hover {
	color: blue;
}

input#submit:hover, input#reset:hover {
	background-color: #fbc40e;
	color: white;
}

input.dati {
	width: 66%;
}

fieldset:hover {
	position: relative;
	bottom: 10px;
	border-color: blue;
}

