@charset "ISO-8859-1";

body {
	max-height: 100vw;
	max-width: 100vw;
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: top 0% center;
	background-attachment: fixed;
	background-size: contain;
	background-color: #fbc40e;
}

div#container {
	display: flex;
	justify-content: center;
}

div#form {
	text-align: center;
	width: 20%;
	display : flex;
	justify-content: center;
}

div#link {
	text-align: left;
	width: 20%;
}

fieldset {
	font-size: x-large;
	transition: all 0.3s ease-in-out;
	border-color: white;
	border-radius: 5%;
	border-style: double;
}

legend {
	color: white;
}

div#link a, a#home {
	text-decoration: none;
	color: white;
	transition: all 0.3s ease-in-out;
	font-size: large;
}

p {
	color: white;
}

input#submit, input#reset {
	background-color: white;
	color: #fbc40e;
	font-size: large;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

div#link a:hover, a#home:hover {
	color: blue;
}

input#submit:hover, input#reset:hover {
	background-color: #fbc40e;
	color: white;
}

input.dati {
	width: 66%;
}

fieldset:hover {
	position: relative;
	bottom: 10px;
	border-color: blue;
}

div#link ul {
	list-style-type: circle;
	color: white;
}

p {
	color: red;
	width: 10%;
	float: right;
	font-size: large;
	padding-right: 5%;
}
