@charset "ISO-8859-1";

body {
	background-image: url("../images/pexels-melvin-buezo-2529157.jpg");
	background-repeat: no-repeat;
	background-position: center ;
	background-attachment: fixed;
	background-color: #fbc40e;
	background-size: contain;
}

fieldset {
	width: 20%;
	margin: 2% 3% 2% 4%;
	background-color: #fbc40e;
	font-size: large;
	border-color: white;
	transition: all 0.3s ease-in-out;
	border-style: double;
	border-radius: 5%
}

legend {
	color: white;
}

a {
	font-size: xx-large;
	color: white;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

p {
	color: white;
}

aside {
	width: 20%;
	position: fixed;
	right: 2%;
}

a:hover {
	color: blue;
	position: relative;
	bottom: 2px;
}

fieldset:hover {
	border-color: blue;
	transform: scale(1.1);
}

div ul {
	list-style-type: circle;
	position: fixed;
	right: 10%;
}

@media screen and (max-width: 1200px) {
	body {
		max-width: 1000px;
	}
	
	a {
		font-size: xx-large;
	}
	
}

@media screen and (max-width: 980px) {
	body {
		max-width: 850px;
	}
	
	a {
		font-size: large;
	}
	
}

@media screen and (max-width: 750px) {
	body {
		max-width: 600px;
	}
	
	a {
		font-size: large;
	}
}

@media screen and (max-width: 540px) {
	body {
		max-width: 450px;
	}
	
	a {
		font-size: small;
	}
	
}

@media screen and (max-width: 360px) {
	body {
		max-width: 450px;
	}
	
	a {
		font-size: small;
	}
	
}
